<h1>Log:<%= @log %> (<%= @env %>)</h1>
<div>
  表示行数：<%= number_field_tag 'tailNum', @tailNum, id: 'tailNum', min: 1, size: 5, title: '表示する行数', style: 'width: 60px;' %>
  <a href="/show/rails">表示を更新する</a>
  <%= check_box_tag 'autoRefresh', true, false, {:id => "refresh"} %>自動更新
</div>

<div>
更新時刻 ： <%= @time %>  tail -<%= @tailNum %> <%= @fileName %>
</div>

<div>
  <pre style="background-color: black; color: white;">
    <%= @lines.html_safe %>
  </pre>
</div>

<div>
<a href="/show/rails">表示を更新する</a>
</div>

